<!--The form tag has an HTML attribute called action that has a value equal to
the path we want our form to submit its data to /reviews is the route to our
create action that we will add to our server-->
<!--views/reviews-new.handlebars-->
<form method="POST" action="/reviews">
    {{> reviews-form}}

    <!-- BUTTON -->
    <p>
        <button type="submit">Save Review</button>
    </p>

</form>

<!-- CANCEL LINK -->
<a href="/">Cancel</a>
